#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 0.5rem; */
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  /* font-weight: 100; */
  background-color: rgba(216, 216, 216, 0.342);
}

h1,
h2,
h3,
p,
a {
  text-decoration: none;
  color: rgb(34, 34, 34);
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

ul {
  padding: 0;
}

li,
a {
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s ease-in-out;
  /* margin: 1rem 0.5rem; */
  /* padding: 0.5rem; */
}

/* li,
a:hover {
  background-color: #202325;
  color: rgb(221, 221, 217);
} */

img {
  /* width: 21rem;
  height: 13rem; */
  border-radius: 5%;
  margin: 1rem auto;
  display: flex;
  align-self: center;
}
